<div class="container ">
    <div class="jumbotron">
        <h1 id="usuario" style="color: green">Hasta luego </h1>
         <button class="btn btn-warning my-5" onclick="location.href='/login'">VOLVER LOGIN</button>
    </div>
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const name = urlParams.get('name');
    console.log(name);
    document.getElementById("usuario").innerHTML = `Hasta luego ${name}`
</script>

